# Flask
SECRET_KEY=<some complex key here>
FLASK_DEBUG=0
PORT=5010

# Model
ORCHESTRATOR_MODEL=claude-sonnet-5
ANTHROPIC_API_KEY=<some complex key here>

# Optional API key for LangSmith tracing
LANGSMITH_API_KEY=<some complex key here>
LANGSMITH_TRACING=True
LANGSMITH_PROJECT=agent-orchestrator

# if not to STDOUT, then to the log file
LOG_TO_STDOUT=True
# DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=DEBUG